OPENVPN_BIND_IP=CHANGE_ME_PUBLIC_IP
OPENVPN_PORT=1194
OPENVPN_REMOTE_HOST=CHANGE_ME_PUBLIC_HOSTNAME_OR_IP
OPENVPN_DNS=10.8.0.1
OPENVPN_SUBNET=10.9.0.0/24
OPENVPN_SERVER_IP=10.9.0.1
OPENVPN_IMAGE_TAG=2.4
OPENVPN_LOCAL_NETS=192.168.0.0/16
